body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    color: white;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1 {
    text-transform: uppercase;
    font-weight: 500;
}

/*.box input[type = "text"], .box input[type = "password"] {*/
.box input {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    width: 150px;
    padding: 14px 40px;
    border: 2px solid #2ecc71;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}

nav {
    padding-top: 20px;
}

nav a {
    display: block;
    color: white;
    padding-bottom: 5px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav .b3 {
    padding-top: 40px;
}